<c-header position="sticky" class="mb-4">
  <c-container fluid>
    
    <c-header-brand routerLink="/">
      <img src="assets/images/MM_logo.png" height="32" alt="Logo" />
    </c-header-brand>

    <!-- CoreUI Header Nav -->
    <c-header-nav class="d-none d-md-flex me-auto">
      <c-nav-item>
        <c-nav-link routerLink="/dashboard">
          Dashboard
        </c-nav-link>
      </c-nav-item>
      <c-nav-item>
        <c-nav-link routerLink="/settings">
          Settings
        </c-nav-link>
      </c-nav-item>
    </c-header-nav>

    <!-- Notification and User Profile -->
    <c-header-nav>
      
    </c-header-nav>
  </c-container>
</c-header>
